#define  INCL_PM
#include <os2.h>

#include "IOS2P016.H"

DLGTEMPLATE IDD_DDESPY LOADONCALL MOVEABLE DISCARDABLE
   {
   DIALOG  "DDE Spy", IDD_DDESPY, 10, 10, 284, 162, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_TASKLIST
      {
      PUSHBUTTON "Applications", IDP_DDESPY1, 16, 134, 80, 14
      LISTBOX    IDL_DDESPY1, 16, 80, 80, 50, LS_HORZSCROLL
      PUSHBUTTON "Topics", IDP_DDESPY2, 100, 134, 80, 14
      LISTBOX    IDL_DDESPY2, 100, 80, 80, 50, LS_HORZSCROLL
      PUSHBUTTON "Items", IDP_DDESPY3, 184, 134, 80, 14
      LISTBOX    IDL_DDESPY3, 184, 80, 80, 50, LS_HORZSCROLL
      ENTRYFIELD "", IDE_DDESPY1, 185, 68, 79, 8, ES_MARGIN
      MLE        "", IDF_DDESPY1, 16, 22, 248, 40, MLS_BORDER | MLS_HSCROLL | MLS_VSCROLL | MLS_WORDWRAP | MLS_DISABLEUNDO | MLS_IGNORETAB | WS_GROUP
      PUSHBUTTON "Request", IDP_DDESPY4, 16, 4, 60, 14
      PUSHBUTTON "Poke", IDP_DDESPY5, 80, 4, 60, 14
      PUSHBUTTON "Advise", IDP_DDESPY6, 144, 4, 60, 14
      PUSHBUTTON "Terminate", IDP_DDESPY7, 208, 4, 60, 14
      }
   }
